[submodule "samples"]
	path = samples
	url = https://github.com/anrl/JAMSamples
	branch = master
[submodule "tools"]
	path = tools
	url = https://github.com/anrl/JAMTools
	branch = master
[submodule "deps/paho"]
	path = deps/paho
	url = https://github.com/eclipse/paho.mqtt.c.git
