node_modules/*
**/.cache/*.js
.cache/*.js
*.o
*.a
*.gch

*.db

*.out
**/jamout.js
**/jamout.c
**/callgraph.html
**/callgraph.dot
**/a.out.dSYM/*
**/*.conf/*
**/dump.rdb
**/errlog
lib/jdiscovery/mdns/build
lib/jdiscovery/app.js

.vscode/c_cpp_properties.json
.vscode/*.log
.sconsign.dblite
.sconf_temp
config.log

node_modules/


build/
*.jxe
**/errlog
