node_modules/*
**/.cache/*.js
.cache/*.js
*.o
*.a
*.gch

*.db

*.out
**/jamout.js
**/jamout.c
**/callgraph.html
**/callgraph.dot
**/a.out.dSYM/*
**/*.conf/*
**/dump.rdb
**/errlog
lib/jdiscovery/mdns/build

.vscode/c_cpp_properties.json
.sconsign.dblite
.sconf_temp
config.log
package-lock.json
**/package-lock.json


node_modules/


build/
*.jxe
