node_modules/*
**/.cache/*.js
.cache/*.js
*.o
*.a
*.gch

*.db

*.out
**/jamout.js
**/jamout.c
**/callgraph.html
**/callgraph.dot
**/a.out.dSYM/*
**/*.conf/*
**/dump.rdb

.sconsign.dblite
.sconf_temp
config.log

node_modules/

lib/jserver/jdiscovery/mdns/out
lib/jserver/jdiscovery/mdns/build
lib/jserver/jdiscovery/mdns/dns_sd.node
lib/jserver/jdiscovery/mdns/demangle.node
lib/jserver/jdiscovery/mdns/.lock-wscript
lib/jserver/jdiscovery/mdns/node_modules
lib/jserver/jdiscovery/mdns/*.sln
lib/jserver/jdiscovery/mdns/*.vcxproj*
lib/jserver/jdiscovery/mdns/.pulse2.properties
lib/jserver/jdiscovery/mdns/Release
lib/jserver/jdiscovery/mdns/Debug
